<ul>
    <li>
        <mat-card *ngIf="this.post">
            <h3>{{ this.post.title }}</h3>
            <i>von {{ this.post.username }} - {{ this.post.postTime | date:'full' }}</i>
            
            <span class="right-buttons">
                <button *ngIf="this.post.status === 'open'" mat-fab color="accent" (click)="updatePost()">
                    <mat-icon *ngIf="!editPost">edit</mat-icon>
                    <mat-icon *ngIf="editPost">save</mat-icon>
                </button>
                <button *ngIf="this.post.status === 'closed'" disabled mat-fab color="accent" (click)="updatePost()">
                    <mat-icon *ngIf="!editPost">edit</mat-icon>
                    <mat-icon *ngIf="editPost">save</mat-icon>
                </button>

                <button *ngIf="this.post.status === 'open'" mat-fab color="accent" (click)="closePost()">
                    <mat-icon *ngIf="post.status === 'closed'">lock</mat-icon>
                    <mat-icon *ngIf="post.status === 'open'">lock_open</mat-icon>
                </button>
                <button *ngIf="this.post.status === 'closed'" disabled mat-fab color="accent" (click)="closePost()">
                    <mat-icon *ngIf="post.status === 'closed'">lock</mat-icon>
                    <mat-icon *ngIf="post.status === 'open'">lock_open</mat-icon>
                </button>

                <button mat-fab color="accent" (click)="deletePost()">
                    <mat-icon>delete</mat-icon>
                </button>
            </span>

            <p *ngIf="!editPost">{{ this.post.text }}</p>
            <p *ngIf="editPost">
                <mat-form-field class="half-width">
                    <textarea matInput matTextareaAutosize maxlength="5000" [(ngModel)]="this.post.text" placeholder="Bearbeiten"></textarea>
                    <mat-hint align="end">{{ this.post.text.length }} / 5000</mat-hint>
                </mat-form-field>
            </p>
        </mat-card>

        <ul *ngIf="this.post">
            <li *ngFor="let comment of comments">
                <div class="comment">
                    <p>
                        <span class="right">
                            <button *ngIf="this.post.status === 'open'" mat-fab color="accent" (click)="updateComment(comment._id)">
                                <mat-icon *ngIf="!editComment || editId != comment._id">edit</mat-icon>
                                <mat-icon *ngIf="editComment && editId == comment._id">save</mat-icon>
                            </button>
                            <button *ngIf="this.post.status === 'closed'" disabled mat-fab color="accent" (click)="updateComment(comment._id)">
                                <mat-icon *ngIf="!editComment || editId != comment._id">edit</mat-icon>
                                <mat-icon *ngIf="editComment && editId == comment._id">save</mat-icon>
                            </button>

                            <button *ngIf="this.post.status === 'open'" mat-fab color="accent" (click)="deleteComment(comment._id)">
                                <mat-icon>delete</mat-icon>
                            </button>
                            <button *ngIf="this.post.status === 'closed'" mat-fab disabled color="accent" (click)="deleteComment(comment._id)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </span>

                        <i>von {{ comment.username }} - {{ comment.commentTime | date:'full' }}</i>
                    </p>
                    <p *ngIf="!editComment || editId != comment._id">
                        {{ comment.text }}
                    </p>
                    <p *ngIf="editComment && editId == comment._id">
                        <mat-form-field class="full-width">
                            <textarea matTextareaAutosize maxlength="2000" matInput [(ngModel)]="comment.text" placeholder="Bearbeiten"></textarea>
                            <mat-hint align="end">{{ comment.text.length }} / 2000</mat-hint>
                        </mat-form-field>
                    </p>
                </div>
                <mat-divider></mat-divider>
            </li>
            <li *ngIf="this.post.status === 'open'">
                <div class="add-comment">
                    <mat-form-field class="half-width">
                        <textarea matInput maxlength="2000" matTextareaAutosize required #newComment placeholder="Kommentar"></textarea>
                        <mat-hint align="end">{{ newComment.value.length }} / 2000</mat-hint>
                    </mat-form-field>
                    <button mat-fab color="accent" (click)="createComment(newComment.value); newComment.value = null">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </li>
        </ul>
    </li>
</ul>