<ul>
    <li>
        <mat-card>
            <h3>{{this.post.title}}</h3>
            <i>von {{this.post.username}} am {{this.post.postTime}}</i>
            <button mat-fab color="accent" (click)="updatePost('Test für upgedateten Post')">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-fab color="accent" (click)="closePost()">
                <mat-icon *ngIf="post.status === 'Closed'">lock</mat-icon>
                <mat-icon *ngIf="post.status === 'Open'">lock_open</mat-icon>
            </button>
            <button mat-fab color="accent" (click)="deletePost()">
                <mat-icon>delete</mat-icon>
            </button>
            <p>{{this.post.text}}</p>
        </mat-card>

        <ul>
            <li *ngFor="let comment of comments">
                <div>
                    <p>
                        <i>von {{comment.username}} am {{comment.commentTime}}</i>
                        <button mat-fab color="accent" (click)="updateComment(comment.id)">
                            <mat-icon *ngIf="!editMode">edit</mat-icon>
                            <mat-icon *ngIf="editMode">save</mat-icon>
                        </button>
                        <button mat-fab color="accent" (click)="deleteComment(comment.id)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </p>
                    <p *ngIf="!editMode">
                        {{comment.text}}
                    </p>
                    <p *ngIf="editMode">
                        <mat-form-field>
                            <textarea matInput [(value)]="comment.text" placeholder="Bearbeiten"></textarea>
                        </mat-form-field>
                    </p>
                </div>
                <mat-divider></mat-divider>
            </li>
            <li>
                <div>
                    <mat-form-field>
                        <input matInput #newUser placeholder="Name">
                    </mat-form-field>
                    <mat-form-field>
                        <textarea matInput #newComment placeholder="Kommentar"></textarea>
                    </mat-form-field>
                    <button mat-fab color="accent" (click)="createComment(newUser.value, newComment.value)">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </li>
        </ul>
    </li>
</ul>