<mat-card>
    <form [formGroup]="form">
        <h2>Login</h2>
        <div>
            <mat-form-field>
                <input matInput maxlength="100" required name="email" formControlName="email" placeholder="Email">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput maxlength="100" required name="password" formControlName="password" type="password" placeholder="Password">
            </mat-form-field>
        </div>
        <div class="center">
            <button mat-fab color="accent" (click)="login()" matTooltip="login">
                <mat-icon>input</mat-icon>
            </button>
        </div>
    </form>
</mat-card>