<!-- <mat-toolbar color="primary">
    <button mat-icon-button (click)="navigateBack()">
        <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <button mat-icon-button (click)="navigateForward()">
        <mat-icon>arrow_forward_ios</mat-icon>
    </button>

    <span [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Forum</span>

    <span *ngIf="!this.isLoggedIn" [routerLink]="['/login']">Login</span>
    <span *ngIf="this.isLoggedIn" (click)="logout()">Logout</span>
    <span *ngIf="!this.isLoggedIn" [routerLink]="['/register']">Register</span>

    <span *ngIf="this.currentUser">
        Hallo {{ this.currentUser.username }}!
    </span>

    <button class="more" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
        <button mat-menu-item>
            Impressum
        </button>
    </mat-menu>
</mat-toolbar> -->

<p>Toolbar doesn't work</p>