<h2>
    <a [routerLink]="['/topic-overview']">Topics</a>
     / 
    <a *ngIf="this.topic" [routerLink]="['/topic-view', this.topic?._id]">{{ this.topic?.title }}</a>
     / {{ this.post?.title }}
</h2>
<ul>
    <li>
        <mat-card *ngIf="this.post">
            <h3>{{ this.post.title }}</h3>
            <i>von {{ this.post.username }} - {{ this.post.postTime | date:'full' }}</i>
            
            <span class="right-buttons" *ngIf="this.currentUser._id == this.post.userId">
                <button [disabled]="this.post.status === 'closed'" mat-fab color="accent" (click)="updatePost()" matTooltip="edit">
                    <mat-icon *ngIf="!editPost">edit</mat-icon>
                    <mat-icon *ngIf="editPost">save</mat-icon>
                </button>

                <button [disabled]="this.post.status === 'closed'" mat-fab color="accent" (click)="closePost()" matTooltip="close">
                    <mat-icon *ngIf="post.status === 'closed'">lock</mat-icon>
                    <mat-icon *ngIf="post.status === 'open'">lock_open</mat-icon>
                </button>

                <button mat-fab color="accent" (click)="deletePost()" matTooltip="delete">
                    <mat-icon>delete</mat-icon>
                </button>
            </span>

            <p *ngIf="!editPost">{{ this.post.text }}</p>
            <p *ngIf="editPost">
                <mat-form-field class="half-width">
                    <textarea matInput matTextareaAutosize maxlength="5000" [(ngModel)]="this.post.text" placeholder="Edit"></textarea>
                    <mat-hint align="end">{{ this.post.text.length }} / 5000</mat-hint>
                </mat-form-field>
            </p>
        </mat-card>

        <ul *ngIf="this.post">
            <li *ngFor="let comment of shownComments">
                <div class="comment">
                    <p>
                        <i>by {{ comment.username }} - {{ comment.commentTime | date:'full' }}</i>

                        <span class="right" *ngIf="this.currentUser._id == comment.userId">
                            <button [disabled]="this.post.status === 'closed'" mat-fab color="accent" (click)="updateComment(comment._id)" matTooltip="edit">
                                <mat-icon *ngIf="!editComment || editId != comment._id">edit</mat-icon>
                                <mat-icon *ngIf="editComment && editId == comment._id">save</mat-icon>
                            </button>

                            <button [disabled]="this.post.status === 'closed'" mat-fab color="accent" (click)="deleteComment(comment._id)" matTooltip="delete">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </span>
                    </p>
                    <p *ngIf="!editComment || editId != comment._id">
                        {{ comment.text }}
                    </p>
                    <p *ngIf="editComment && editId == comment._id">
                        <mat-form-field class="full-width">
                            <textarea matTextareaAutosize maxlength="2000" matInput [(ngModel)]="comment.text" placeholder="Edit"></textarea>
                            <mat-hint align="end">{{ comment.text.length }} / 2000</mat-hint>
                        </mat-form-field>
                    </p>
                </div>
                <mat-divider></mat-divider>
            </li>
            <li>
                <mat-paginator [length]="comments.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" (page)="changePage($event)" [showFirstLastButtons]="true"></mat-paginator>
            </li>
            <li *ngIf="this.post.status === 'open'">
                <div class="add-comment">
                    <button mat-fab color="accent" (click)="createComment(newComment.value); newComment.value = null" [disabled]="!newComment.value" matTooltip="comment">
                        <mat-icon>comment</mat-icon>
                    </button>
                    <div class="input-container">
                        <mat-form-field>
                            <textarea matInput maxlength="2000" matTextareaAutosize required #newComment placeholder="Comment"></textarea>
                            <mat-hint align="end">{{ newComment.value.length }} / 2000</mat-hint>
                        </mat-form-field>
                    </div>
                </div>
            </li>
        </ul>
    </li>
</ul>