ul {
    list-style-type: none;
    padding: 1em;
}

mat-card {
    cursor: pointer;
}

input {
    width: 100%;
}

form, h2 {
    padding: 1em;
}

mat-form-field {
    width: 100%;
}

form input, form textarea {
    width: 100%;
}

.right {
    /* Verzweiflung
    position: absolute;
    right: 0;
    left: auto;
    display: inline-block; */
}
