.more {
  position: absolute;
  right: 0;
}

.search {
  height: 50%;
  background-color: #fff;
}

sd-user-search {
  overflow: visible;
}

/* very nice */
mat-toolbar > * {
  cursor: pointer;
  margin: 0 1em 0 1em;
}
