.more {
  /* background: url("./assets/svg/more.svg");
  float: right;
  height: 24px;
  margin-top: 12px;
  width: 24px; */
  position: absolute;
  right: 0;
}

.search {
  height: 50%;
  background-color: #fff;
}

sd-user-search {
  overflow: visible;
}

/* very nice */
mat-toolbar > * {
  cursor: pointer;
  margin: 0 1em 0 1em;
}