/* :host {
    width: 75%;
    margin: 0 auto;
} */

ul {
    list-style-type: none;
    padding: 1em;
}

h2 {
    margin: 1em 1em 0 1em;
    padding: 1em 1em 0 1em;
}

form {
    margin: 1em;
    padding: 1em;
}

mat-card {
    cursor: pointer;
}

/* magic */
mat-form-field {
    width: 100%;
}

.input-container {
    overflow: hidden;
    padding-right: .5em;
}

form button {
    float: right;
}
/* magic end */

.right {
    display: block;
    position: absolute;
    top: 5px;
    right: 10px;
}