<h2>Themen</h2>
<ul>
    <li *ngFor="let topic of topics">
        <mat-card *ngIf="!editTopic || editId != topic._id" [routerLink]="['/topic-view', topic._id]">
            <p>
                <span>{{ topic.title }}</span>
                <span class="right" *ngIf="this.currentUser && this.currentUser._id == topic.userId">
                    <button mat-fab color="accent" (click)="updateTopic(topic._id)" matTooltip="edit">
                        <mat-icon *ngIf="!editTopic || editId != topic._id">edit</mat-icon>
                        <mat-icon *ngIf="editTopic && editId == topic._id">save</mat-icon>
                    </button>
                    <button mat-fab color="accent" (click)="deleteTopic(topic._id)" matTooltip="delete">
                        <mat-icon>delete</mat-icon>
                    </button>
                </span>
            </p>
            <p>{{ topic.postCount }} Beiträge, letzter Beitrag am {{ topic.lastActivity | date:'full' }}</p>
        </mat-card>
        
        <mat-card *ngIf="editTopic && editId == topic._id">
            <span>
                <mat-form-field>
                    <input matInput maxlength="100" [(ngModel)]="topic.title" placeholder="Bearbeiten">
                    <mat-hint align="end">{{ topic.title.length }} / 100</mat-hint>
                </mat-form-field>
            </span>
            <span class="right" *ngIf="this.currentUser && this.currentUser._id == topic.userId">
                <button mat-fab color="accent" (click)="updateTopic(topic._id)" matTooltip="edit">
                    <mat-icon *ngIf="!editTopic || editId != topic._id">edit</mat-icon>
                    <mat-icon *ngIf="editTopic && editId == topic._id">save</mat-icon>
                </button>
                <button mat-fab color="accent" (click)="deleteTopic(topic._id)" matTooltip="delete">
                    <mat-icon>delete</mat-icon>
                </button>
            </span>
        </mat-card>
    </li>
</ul>

<form>
    <button mat-fab color="accent" (click)="createTopic(newThema.value); newThema.value = null" matTooltip="create">
        <mat-icon>add</mat-icon>
    </button>
    <div class="input-container">
        <mat-form-field>
            <input matInput maxlength="100" required #newThema placeholder="Neues Thema">
            <mat-hint align="end">{{ newThema.value.length }} / 100</mat-hint>
        </mat-form-field>
    </div>
</form>