:host {
    width: 50%;
    margin: 0 auto;
}

mat-card {
    margin-top: 1em;
}

form {
    padding: 1em;
}

mat-form-field, form input, form textarea {
    width: 100%;
}

.center {
    text-align: center;
}

mat-spinner {
    margin: 1em auto;
}